---
layout: base
---

<div class="BlogCover BlogCover--main" style="background-image:url(/images/{{ site.inc.cover_image }});">

  <section class="BlogCover-wrapper">
    <div class="BlogCover-container">

      <h1 class="BlogCover-title">
        <img src="/images/logo_white.png" alt="Open Source CU" class="BlogCover-logo" />
      </h1>

      {% if site.inc.subtitle %}
      <h2 class="BlogCover-subtitle">{{ site.inc.subtitle }}</h2>
      {% endif %}

      {% if site.inc.twitter %}
      <a href="https://twitter.com/{{ site.inc.twitter }}" title="Follow on Twitter" target="_blank" class="BlogCover-socialLink">
        <i class="fa fa-twitter"></i>
      </a>
      {% endif %}
      {% if site.inc.facebook %}
      <a href="http://facebook.com/{{ site.inc.facebook }}" title="Like on Facebook" target="_blank" class="BlogCover-socialLink">
        <i class="fa fa-facebook"></i>
      </a>
      {% endif %}
      {% if site.inc.rss %}
      <a href="/feed.xml" title="RSS Feed" class="BlogCover-socialLink">
        <i class="fa fa-rss"></i>
      </a>
      {% endif %}

    </div>
  </section>

</div>

<article class="ArticleIndex">

  <div class="ArticleIndex-container">

    {% for post in paginator.posts %}
    {% unless post.draft %}

    <section class="Article">

      <!-- {% if post.author.image %}<img src="/images/{{ post.author.image }}" class="avatar">{% endif %}-->

      <div class="Article-container TypeSystem">

        <h1 class="Article-title Article-title--index">
          <a href="{{ post.url }}" rel="prefetch">{{ post.title }}</a>
        </h1>

        <p class="Article-excerpt TypeSystem-excerpt">{{ post.excerpt }}</p>

        <div class="TypeSystem-meta">

          <span class="TypeSystem-author">{{ post.author.name }}</span>

          <span class="TypeSystem-date">

            &mdash;

            <time pubdate datetime="{{ post.date | date: "%Y-%d-%B" }}" title="{{ post.date | date: "%B %d, %Y" }}">
              {{ post.date | date: "%B %d, %Y" }}
            </time>

          </span>

        </div>

      </div>

      <hr class="ArticleIndex-divider" />

    </section>



    {% endunless %}
    {% endfor %}

  </div>

  <section class="ArticleIndex-pagination"
    >
    {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
    <a href="/" class="Button Button--outlined">‹ Newer</a>
    {% else %}
    <a href="/page{{ paginator.previous_page }}" class="Button Button--outlined">‹ Newer</a>
    {% endif %}
    {% endif %}
    {% if paginator.next_page %}
    <a href="/page{{ paginator.next_page }}" class="Button Button--outlined">Older ›</a>
    {% endif %}

  </section>

</article>
