.ArticleIndex {

  margin-top: 60px;

  &-container {
    @include outer-container;
  }

  &-divider {
    margin: 2em 0;
  }

  &-pagination {
    text-align: center;
  }

}

.Article {

  @include span-columns(8);
  @include shift(2);

  @include media($mobile) {
    @include span-columns(8);
    @include shift(0);
    padding: 0 1em;
  }

  &-title--index {
    font-size: 1.8em !important;
  }

}

.LegacyComments {

  &-title {
    font-size: 2em;
  }

}

.LegacyComment {

  &-body {
    margin-left: 1em;
  }

}
