$--BlogCover-textColor: #fff;
$--BlogCover-fontWeight: 600;

.BlogCover {

  background: $light-gray;

  background-color: #111;
  background-size: cover;

  max-height: 460px;
  max-width: 100%;

  overflow: hidden;

  position: relative;

  &--main {
    height: 320px;
    @include media($medium) {
      height: 180px;
    }
  }

  &-container {
    margin: 0 auto;
    max-width: 820px;
  }

  &-wrapper {

    background-color: rgba(0,0,0,0.4);
    background-position: center center;

    @include background-image(linear-gradient(to bottom, rgba(0,0,0,0.15) 0%, rgba(0,0,0,0) 100%));

    padding: 50px 0;

    @include position(absolute, 0 0 0 0);

    text-align: center;

    @include media($medium) {
      padding: 15px 0 0;
    }

  }

  &-title {
    @include retina-image("/images/logo_white", 200px 129px);
    height: 129px;
    width: 200px;
    margin: 0 auto 10px;
    background-repeat: no-repeat;
    @include media($medium) {
      @include retina-image("/images/logo_white", 100px 64px);
      height: 64px;
      width: 100px;
    }
  }

  &-logo {
    display: none;
    @include media($medium) {
      width: 150px;
    }
  }

  &-subtitle {
    color: $--BlogCover-textColor;
    font-weight: $--BlogCover-fontWeight;
    font-size: 1.3em;
    margin: 0;

    @include media($medium) {
      font-size: 1em;
    }

  }

  &-socialLink {
    border: 2px solid $--BlogCover-textColor;
    border-radius: 42px;
    box-sizing: border-box;
    color: $--BlogCover-textColor;
    display: inline-block;
    height: 36px;
    font-size: 16px;
    line-height: 1em;
    margin: 1.5em 0.5em 0;
    padding: 8px 0;
    width: 36px;
    text-align: center;

    @include media($medium) {
      margin: 1em 0.35em 0;
    }

    &:hover {

      background: #fff;
      color: #000;

    }

  }

  &-imageContainer {
    max-height: 480px;
    line-height: 0;
  }

  &-image {
    width: 100%;
    top: 0;
    position:relative;
  }

}
