.Button {
  color:#fff;
  font-weight:bold;
  background-color:#54b89d;
  font-size:1em;
  padding: 0.6em 1.2em;
  display: inline-block;
  position: relative;
  border: 0;
  text-align: center;
  text-decoration: none;
  font-style: normal;
  font-weight:600;
  cursor: pointer;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  vertical-align: bottom;
  text-rendering: optimizeLegibility;
  border-radius: 2px;
  vertical-align:middle;
  font-family:"proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-radius:2px;
  background:#4dab7d;
  border:2px solid #4dab7d;
  text-transform: uppercase;
  white-space:nowrap;

  &:hover {
    background:darken(#4dab7d, 10%);
    border-color:darken(#4dab7d, 10%);
    color:#fff;
  }

  &:active {
    box-shadow:none;
  }

  &--outlined {
    background: none;
    border-radius: 4px;
    font-size: 0.8em;
    border: 2px solid $accent;
    border-radius: 3px;
    color:darken($accent, 5%);
    transition:none;

    &:hover {
      border:2px solid darken($accent, 15%);
      color:darken($accent, 10%);
      background:none;
    }
  }

}
