---
layout: base
---
{% if page.cover_image %}
<div class="BlogCover BlogCover--article">
  <div class="BlogCover-imageContainer">
    <img src="/images/{{ page.cover_image }}" class="BlogCover-image">
  </div>
</div>
{% endif %}

<div class="Page">

  <article class="Article Page-content">

    <div class="Article-container TypeSystem">

      <header class="Article-header">

        <div class="TypeSystem-meta">

          <span class="TypeSystem-author">
            <a rel="author" href="{{ page.author.link }}" title="{{ page.author.name }}" target="_blank">{{ page.author.name }}</a>
          </span>

          <span class="TypeSystem-date">

            &mdash;

            <time pubdate datetime="{{ page.date | date: "%Y-%d-%B" }}" title="{{ page.date | date: "%B %d, %Y" }}">{{ page.date | date: "%B %d, %Y" }}</time>

          </span>

        </div>

        <h1 class="Article-title">{{ page.title }}</h1>

        {% if page.subtitle %}<h2 class="subtitle">{{ page.subtitle }}</h2>{% endif %}

      </header>

      <section>
        {{ content }}
      </section>

      <footer class="AuthorSummary">

        {% if page.author.image %}
        <img src="/images/{{ page.author.image }}" class="AuthorSummary-image">
        {% endif %}

        <div class="AuthorSummary-content">

          <span class="AuthorSummary-name"><a rel="author" href="https://twitter.com/{{ page.author.twitter }}" title="{{ page.author_name }}" target="_blank">{{ page.author.name }}</a></span><br>

          <span class="AuthorSummary-bio">{{ page.author.bio }}</span>

        </div>

      </footer>

    </div>

    {% if page.legacy %}

    {% include _legacy-comments.html %}

    {% else %}
    {% if site.inc.disqus.shortname %}
    <section>
      {% include _disqus.html %}
    </section>
    {% endif %}
    {% endif %}

  </article>
</div>
